.container{
    display: flex;
}

.box{
    width: 180px;
    height: 160px;
    background-color: rgba(104, 18, 190, 0.753);
    margin: .5em;
    text-align: center;
}

.leftBox{
    min-width: 19vw;
    min-height: 80vh;
    background-color: rgb(212, 176, 246);
    text-align: left;
}

.midBox{
    min-width: 79vw;
    min-height: 80vh;
    background-color: rgb(212, 176, 246);
    text-align: center;
}